body{
  background-color:aliceblue;
}
img{
  float: left;
}

ul > li {
  border: 1px solid;
  clear: left;
  list-style-type: none;
  width: 600px;
  height: 150px;
  margin-bottom: 40px;
}

li > div {
  font-family:cursive;
  margin-left: 120px
}